*{
    margin: 0px;
    padding: 0px;
    
}

.wrapper{
    background-image: url(images/background.jpg);
    height: 100vh;
    display: cover;
}
.navbar{
   
   margin-left: 10px;
   margin-right: 10px;
   /* background-color: black;*/
}
.logo{
 margin-top: 10px;
 padding: 20px;
}
.logo img{
    border-radius: 25px;
    height: 50px;
    width: 50px;
}
.navbar ul{
    float: right;
    margin-top: -100px;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    line-height: 80px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 8px;
    transition: 0.5 ease;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center h1, h2{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
.buttons{
   
    width: 270px;
    height: 80px;
    text-align: center;

}
.buttons button{
    width: 80px;
    height: 50px;
    border-radius: 15px;
    border: 2px;
    margin: 10px;
    color: gray;
    cursor: pointer;
}
.buttons button:hover{
  background-color: red;
}